<h1> Books Library</h1>
 <%= link_to "Home", root_path %>

<%= form_tag(search_path, remote: true, method: :get, id: 'search-form') do %>
  <%= text_field_tag :query, nil, placeholder: 'Search for authors...', id: 'search-input' %>
  <div id="search-results" class="dropdown-menu" aria-labelledby="search-form">
    <!-- Search results will be displayed here -->
  </div>
<% end %>


<ul>
    <%@books.each do |book|%>
    <li>
        <%= link_to book.title, book %>
    </li>
    <%end%>
</ul>

<%= link_to "New Book", new_book_path %><br>
<%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>

<div class="pag-bar mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>