<h1> Books Library</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :search, "Search for:" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>

<ul>
    <%@books.each do |book|%>
    <li>
        <%= link_to book.title, book %>
    </li>
    <%end%>
</ul>

