<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'books' %>
  
  </head>

  <body>
  
   <p class="notice"><%= notice %></p> 
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

<script>
  console.log('Application File code')

  $(document).on('turbolinks:load', function() {
    console.log('rofiorjfjrgio')
    const searchInput = $('#search-input');
    const searchResults = $('#search-results');

    searchInput.on('input', function() {
      const query = $(this).val().trim();

      if (query.length > 0) {
        console.log('rifjrifjirjfiiji')
        $.ajax({
          url: "/search",
          type: 'GET',
          data: { query: query },
          dataType: 'json',
          success: function(data) {
            searchResults.empty();
            if (data.length > 0) {
              $.each(data, function(index, book) {
                const resultItem = $('<div>').text(`${book.title} by ${book.author_name}`);
                searchResults.append(resultItem);
              });
              searchResults.show();
            } else {
              const resultItem = $('<div>').text('No books found.');
              searchResults.append(resultItem);
            }
          }
        });
      } else {
        searchResults.empty().hide();
      }
    });

    // Hide dropdown menu when clicking outside of it
    $(document).on('click', function(event) {
      if (!$(event.target).closest('#search-form').length) {
        searchResults.hide();
      }
    });
  });
</script>